@import "../../styles/variables";
@import "../../styles/mixins";


.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-solitude-light;
  // с этим не работает стики хедер. лучше использовать точечно в секциях
  // overflow: hidden;
  font-size: 20px;
  line-height: 24px;
  color: $color-catalina-blue;
  position: relative;
}

.main {
  flex-grow: 1;
}
